.containerHome {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__header {
		max-width: screen;
		display: flex;
		justify-content: center;
		backdrop-filter: blur(15px);

		position: fixed; /* Фиксируем навбар */
		top: 0; /* Прижимаем навбар к верху экрана */
		left: 0; /* Прижимаем навбар к левому краю экрана */
		z-index: 1000;
		// background-color: rgba(133, 131, 131, 0.214);
		width: 100%;
		transition: transform 0.3s ease-out; /* Добавляем переход для свойства transform */

		&-hidden {
			transform: translateY(-100%); /* Скрываем навбар, сдвигая его вверх */
			transition: transform 0.3s ease-out; /* Добавляем переход для свойства transform */
		}
	}
}

.grid {
	display: grid;
	max-width: 1280px;
	// grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
	// grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 30px;
}
.loader {
	width: 300px;
	height: 400px;
	// background-color: #f3f3f31a;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader::after {
	content: '';
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid #000;
	border-top-color: #08f2fa;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (min-width: 1280px) {
	.grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		// grid-column-gap: 100px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		// grid-column-gap: 100px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		// grid-column-gap: 100px;
	}
}
