.card {
	// height: 450px;
	// width: 300px;
	height: 450px;
	width: 300px;
	display: flex;
	flex-direction: column;

	&__poster {
		border-radius: 20px;
		height: 400px;
		width: 300px;
		// width: 300px;
		// height: 400px;
	}

	&__footer {
		display: flex;
		align-items: center;
		height: 50px;
		gap: 10px;
		width: 100%;

		div {
			display: flex;
			flex-direction: column;
		}
		.title-wrapper {
			width: 100%;
		}

		.title {
			width: 300px;
			font-weight: 700;
			overflow: hidden;
			white-space: nowrap;

			text-overflow: ellipsis;
			position: relative;
			margin: 0;
		}
		.release {
			font-weight: 700;
			color: #ffffff9a;
		}
	}
	.link {
		position: relative;
		transition: scale ease-in-out 0.2s;
		cursor: pointer;
		outline: none;
	}
	.link:hover {
		scale: 1.03;
	}
	.vote {
		border-radius: 10px;
		background: linear-gradient(45deg, #08f2fa, #06bcc3b3);
		position: absolute;
		display: flex;
		top: 10px;
		left: 10px;
		width: 40px;
		padding: 5px;
		align-items: center;
		justify-content: center;

		font-size: 26px;
		font-weight: bold;
		color: #fff;
	}
	.loader {
		width: 300px;
		height: 400px;
		background-color: #f3f3f31a;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loader::after {
		content: '';
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 5px solid #000;
		border-top-color: #08f2fa;
		animation: spin 1s ease-in-out infinite;
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}

@media only screen and (max-width: 1280px) {
	
}
@media only screen and (min-width: 1024px) {
	.card {
		height: 400px;
		width: 250px;
		.title {
			width: 250px;
		}
	}
	.card__poster {
		height: 350px;
		width: 250px;
	}
}
@media only screen and (min-width: 1024px) {
	.card {
		height: 400px;
		width: 250px;
		.title {
			width: 200px;
		}
		&__footer {
			font-size: 14px;
		}
		.vote {
			font-size: 22px;
			width: 35px;
		}
	}
	.card__poster {
		height: 350px;
		width: 250px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.card {
		height: 350px;
		width: 200px;
		.title {
			width: 200px;
		}
		&__footer {
			font-size: 14px;
		}
		.vote {
			font-size: 22px;
			width: 35px;
		}
	}
	.card__poster {
		height: 300px;
		width: 200px;
	}
}

