header {
    max-width: screen;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
    position: fixed; /* Фиксируем навбар */
    top: 0; /* Прижимаем навбар к верху экрана */
    left: 0; /* Прижимаем навбар к левому краю экрана */
    z-index: 1000;
    background-color: rgba(133, 131, 131, 0.214);
    width: 100%;
}